*{box-sizing:border:box;}
.red{color:#ff97a0;}
.green{color:#00d061;}

.purple{color:#bea5ff;}
*{box-sizing:border-box;}

html{background-color:#1b1b1b;
color:white;
scroll-behavior: smooth;}

.tutorial{background-color:#4e4e4e;
border-radius:0.3125rem;
padding-top:0.5rem;
padding-bottom:0.5rem;
}
.tutorial-p{background-color:#4e4e4e;
border-radius:0.3125rem;
padding:0.125rem;}

.up {padding-left:0.5rem;
padding-bottom:0.1875rem;
border-bottom:0.0625rem solid white;
margin:0 0 0.3125rem 0;
}
.down {padding-left:1rem;
padding-bottom:0.1875rem;


}

table{border-top:0.0625rem solid white;
border-left:0.0625rem solid white;}

tr,td,th{padding:0.375rem 0.25rem;
margin:0 auto;
text-align:center;
border-bottom:0.0625rem solid white;
border-right:0.0625rem solid white;}

.grey{background-color:#4e4e4e;}

.td2{font-size:0.625rem;
padding:0.0625rem;}

main{max-width:500px;
width:90%;
height:auto;
display:block;
margin:0.625rem auto;
}
p{line-height:1.6;}
.gray{color:grey;}
.comment{padding:1px;
margin:0.09375rem;}
.note{background-color:#0085f21a;
padding:1.25rem;
margin:1rem auto;
border-radius:0.5rem;
border-left:0.25rem solid #5e9eff;
display:flex;
}
.info{background-color:#5e9eff;
padding:0.25rem;
border-radius:300%;
color:black;
margin-right:0.1875rem;
position:relative;
right:0.3125rem;}
img{z-index:-2;
width:100%;
height:100%;
position:fixed;
margin:-0.625rem;}
li{margin:1rem auto}
footer{display:flex;
flex-direction:column;
gap:0.0625rem;
margin-top:0.3125rem;
      text-align:center;}

.divider{width:80%
height:0.0625rem;
border:0.0625rem solid white;
margin:-1.875rem auto 1.25rem;}
.main-section{margin-bottom:3.475rem;}

nav{padding:0.5rem;
background-color:#4e4e4e;
margin:-0.3125rem auto 1.5625rem;

width:100%;
border-radius:0 0 0.4375rem 0.4375rem;
display:block;
text-align:center;
    position:fixed;
    top:0;
}
nav > a{
font-size:0.75rem;
color:white;}
.nav-but{padding:0.375rem;
margin:0.375rem;}
.nav-but:hover{background-color:grey;}
@media (min-width:1030px){

nav{padding:0.5rem;
background-color:#4e4e4e;
position:fixed;
left:0;

height:100%;
width:20%;
border-radius:0 0.4375rem 0.4375rem 0px;
display:block;
text-align:center;
line-height:3.125rem;
}
nav > a{
font-size:0.75rem;
color:white;}
.nav-but{padding:0.375rem;
margin:0.375rem;
display:block;}
.nav-but:hover{background-color:grey;}
  
@media only screen and (max-width: 767px) {
  .main-section {
    width: 85vw;
    height: 80vh;
  }
}

